/* Additional custom styles can be added here if needed */
body {
    font-family: 'Arial', sans-serif;
}

.quiz-option:hover {
    background-color: #e6f2ff;
}

.quiz-option.selected {
    background-color: #a6c8ff;
}

/* New styles for social share buttons */
.social-icon-btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    font-size: 24px;
    color: #333;
    transition: all 0.3s ease;
}

.social-icon-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gradient button styles */
.gradient-button {
    background-image: linear-gradient(90deg, #015efe, #012f7e 40%, #015efe);
    background-position: 0;
    background-size: 200%;
    box-shadow: none;
    transition: background-position .3s ease-in-out, box-shadow .3s ease-in-out;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.gradient-button:hover {
    background-position: -100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body, p, div, span, a, button, input, textarea, select {
    font-family: karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: #606776;
    font-size: 2rem;
}

.text-blue-600 {
    font-family: amsi, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
